.path {
    display: inline-block;
    width: 44%;
    margin: 0 15px 0 0;
    input{
    width: 100%;
    }
}
.newValue {
    display: inline-block;
    width: 43%; 
    margin: 0 15px 0 0;
    input {
    width: 100%;
    }
}
.form {
    width: 100%;
    margin: 0 0 15px;
}
